@use 'src/styles/vars';

.nav {
    position: relative;
    top: 18rem;
    left: 80%;
    &__ol {
        display: flex;
        flex-direction: column;
    }
    &__link {
        margin-bottom: vars.$margin ;
        color: rgb(7, 190, 223);;
    }
}