@use 'src/styles/vars';

.cardModule {

    &__card {
        display: flex;
        width: 40%;
        margin:  vars.$margin  0;
        flex-wrap: wrap;
        border: black 1px solid;
        margin-left: 30%;
        padding: vars.$padding;
    }
    &__name {
        font-family: vars.$basker;
        font-size: vars.$fontSize;
        font-style: italic;
        font-weight: bolder;
        text-shadow: white 1px 1px;
        width: 90%;
        text-align: center;
        color: rgb(7, 190, 223);
        margin: 0.5rem  0 vars.$margin  0; 
    }
    &__onOff {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        &::after {
           content: '|';  
        margin: 0.65rem;
        }

        &--off {
            border: red solid 1px;
            &::after {
                color: red;
            }
        }

        &--on {
            border: green solid 1px;
            &::after {
                color: green;
            }
        }
    }
    &__delete {
        font-size: 1.5rem; 
        position: absolute;
        &::after {
            content: '	\274C';
        }
    }
    &__update{
        width: 100%;
        text-align: center;
        font-size:  12px;
        margin-top: vars.$margin * 0.5;
    }
    &__power {
        width: 100%;
        margin-top: vars.$margin;
        &--green {
            color: green;
        }
        &--red {
            color: red
        }
    }
    &__detail {
        margin-top: vars.$margin;
        width: 100%;
        text-align: center;
        background-color: transparent;
        border: none;
        font-family: vars.$basker;
        font-style: italic;
    }
    &__error {
        width: 100%;
        margin: vars.$margin * 0.25 0;
    }
    &__nberror {
        font-weight: bolder;

        &--green {
            color: green;
        }
        &--red {
            color: red;
        }
    }

    &__lastValueContainer {
        width: 100%;
        margin-bottom: vars.$margin * 0.5;

    }
    &__lastValue {
        width: 100%;
    }
    &__lastValueDate {
        width: 100%;
        margin-top: vars.$margin;
    }
    &__noLog {
        width: 100%;
        margin-top: vars.$margin;
        text-align: center;
        font-family: vars.$basker;
        font-size: vars.$fontSize * 0.75;
        font-weight: bolder;
    }
    &__loading {
        display: flex;
        justify-content: center;
        position: relative;
        width: 150px;
        height: 150px;
        top: 4rem ; left: calc(50% - 75px);
    }
}